<a href="https://colab.research.google.com/github/SantiagoGlezCh7/basedatos_SantiagoGlezCh424096368/blob/Proyectos/ProyectoFinal21_marzo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!pip install faker

!pip install pandas
!pip install numpy

Requirement already satisfied: faker in /usr/local/lib/python3.11/dist-packages (37.3.0)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from faker) (2025.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (2.0.2)

In [7]:
import pandas as pd
import numpy as np
from faker import Faker
import random
import os
from datetime import datetime, timedelta

# ***CAPA BRONCE DATOS CRUDOS ***

In [8]:
os.makedirs('bronze', exist_ok=True)
fake = Faker()

In [9]:
num_stores_target = 3000
print(f"Creando df_stores con {num_stores_target} tiendas...")
nombres_tiendas = [fake.company() + ' Bakery ' + str(i) for i in range(num_stores_target)]
ciudades_tiendas = [fake.city() for _ in range(num_stores_target)]
def generate_stores_data(num_stores):

    """Genera datos simulados para la dimensión de tiendas."""
    print(f"Generando datos para {num_stores} tiendas...")
    fake = Faker('es_ES') # Datos en español
    stores_list = []
    # Ciudades de ejemplo en español para dar variedad
    cities = ['Madrid', 'Barcelona', 'Valencia', 'Sevilla', 'Zaragoza',
              'Málaga', 'Murcia', 'Palma', 'Las Palmas de Gran Canaria',
              'Bilbao', 'Alicante', 'Córdoba', 'Valladolid', 'Vigo',
              'León', 'Salamanca', 'Granada', 'Toledo', 'Santiago de Compostela',
              'Santander', 'Gijón', 'Oviedo', 'Pamplona', 'Logroño', 'Cádiz',
              'Burgos', 'Albacete', 'Huelva', 'Jaén', 'Lérida', 'Girona',
              'Tarragona', 'Cáceres', 'Badajoz', 'Soria', 'Cuenca', 'Ávila',
              'Segovia', 'Teruel', 'Huesca', 'Palencia', 'Zamora', 'Orense',
              'Lugo', 'Pontevedra', 'Ceuta', 'Melilla', 'San Sebastián', 'Vitoria-Gasteiz'
             ]
    regions = ['Centro', 'Norte', 'Este', 'Sur', 'Canarias', 'Noroeste', 'Levante', 'Andalucía', 'Aragón', 'Castilla y León', 'Cataluña']

    for i in range(num_stores):
        store_city = random.choice(cities)
        stores_list.append({
            'store_id': range(1, num_stores_target + 1),
            'store_name': f"Tienda {i + 1} - {store_city}",
            'city': store_city,
            'region': random.choice(regions),
            'opening_date': fake.date_between(start_date='-10y', end_date='today')
        })
    df_stores = pd.DataFrame(stores_list)
    print(f"Datos de tiendas generados: {len(df_stores)} registros.")
    return df_stores
# Definir el número de productos que quieres generar
NUM_PRODUCTOS_OBJETIVO = 200 # Basado en tu solicitud de 200 productos

def generate_products_data_custom(num_products_objective, fake_instance):
    """
    Genera datos para la dimensión de productos usando la lógica proporcionada,
    asegurando el número de productos especificado con clasificación de pan y otros.
    Los nombres de las columnas ya están estandarizados para el pipeline.
    """
    print(f"Generando datos para DimProducto ({num_products_objective} productos, incluyendo clasificación de pan)...")
    productos_data_list = []

    # Clasificaciones de Pan
    tipos_harina = ['Trigo', 'Centeno', 'Espelta', 'Maíz', 'Germinado', 'Mixta', 'Sin Gluten']
    sabores_aditivos = ['Básico', 'Con Semillas', 'De Ajo', 'Dulce', 'Integral', 'Fermentado', 'Crocante', 'Amargo']
    categorias_pan = ['Panadería Artesanal', 'Pan Dulce', 'Bollos', 'Panes Especiales', 'Pan Integral', 'Pan de Molde']
    categorias_no_pan = ['Bebida Caliente', 'Bebida Fría', 'Repostería', 'Bocadillo Salado', 'Postre', 'Salado']

    # Nombres base para los productos (mezclando pan y otros genéricos)
    nombres_pan_base = [
        'Pan de Campo', 'Baguette', 'Ciabatta', 'Focaccia', 'Pan de Centeno Clásico',
        'Pan de Maíz', 'Pan de Espelta', 'Pan Germinado Vital', 'Pan Multicereal',
        'Pan Integral Casero', 'Pan Dulce de Naranja', 'Bollos de Leche', 'Croissant',
        'Pan de Ajo Rústico', 'Pan con Semillas de Chía', 'Pan de Masa Madre',
        'Panini', 'Brioche', 'Muffin de Pan', 'Pan de Coco', 'Pan Chapata', 'Pan de Pita',
        'Pan de Hamburguesa', 'Pan de Hot Dog', 'Pan de Avena', 'Pan de Calabaza',
        'Pan de Zanahoria', 'Pan de Cebolla', 'Pan de Aceitunas', 'Pan de Tomate Seco'
    ]
    # Nombres base para otros productos
    nombres_otros_base = [
        'Café Americano', 'Latte Macchiato', 'Té Verde', 'Jugo de Naranja', 'Agua Mineral',
        'Galleta de Avena', 'Muffin de Arándanos', 'Tarta de Manzana', 'Brownie de Chocolate',
        'Sándwich de Jamón y Queso', 'Ensalada César', 'Wrap de Pollo', 'Chips de Patata',
        'Donut Glaseado', 'Magdalena', 'Bocadillo de Atún', 'Zumo de frutas', 'Refresco de cola',
        'Cerveza artesanal', 'Vino tinto', 'Agua con gas', 'Té helado', 'Chocolate caliente',
        'Crepa de Nutella', 'Pastel de chocolate', 'Flan casero', 'Helado de vainilla',
        'Barrita energética', 'Yogur griego', 'Cereal integral', 'Sopa de verduras',
        'Pizza personal', 'Empanada de carne', 'Quiche de espinacas', 'Taco de cochinita',
        'Nachos con queso', 'Burrito de pollo', 'Enchiladas suizas', 'Guacamole con totopos',
        'Gelatina de fresa', 'Arroz con leche', 'Churros con chocolate', 'Buñuelos',
        'Paleta de hielo', 'Fruta fresca', 'Smoothie verde', 'Ensalada de frutas',
        'Panqueques con miel', 'Waffles con crema', 'Huevo revuelto', 'Omelette de queso',
        'Tostada de aguacate', 'Cereal con leche', 'Sopa de tortilla', 'Crema de champiñones'
    ]

    # Combinamos y extendemos los nombres si NUM_PRODUCTOS_OBJETIVO lo requiere,
    # para tener suficientes nombres únicos
    all_base_names = nombres_pan_base + nombres_otros_base
    extended_names = list(all_base_names)
    while len(extended_names) < num_products_objective:
        extended_names.append(fake_instance.unique.word().capitalize() + f' Gen {len(extended_names)}')
    random.shuffle(extended_names) # Mezclamos para no tener solo pan al principio

    # Generar datos de productos
    for i in range(num_products_objective):
        nombre_producto = extended_names[i]
        precio_base = round(np.random.uniform(1.0, 50.0), 2)
        marca = fake_instance.company()

        # Lógica para identificar panes (más robusta)
        is_bread = False
        if any(word in nombre_producto.lower() for word in ['pan', 'baguette', 'ciabatta', 'focaccia', 'brioche', 'bollo', 'croissant', 'muffin', 'chapata', 'pita', 'hamburguesa', 'hot dog', 'avena', 'calabaza', 'zanahoria', 'cebolla', 'aceitunas', 'tomate seco', 'multicereal', 'integral', 'centeno', 'espelta', 'maíz', 'germinad']):
            is_bread = True

        # Clasificar y asignar detalles de pan/no pan
        if is_bread:
            categoria_producto = random.choice(categorias_pan)
            tipo_harina_pan = random.choice(tipos_harina)
            sabor_aditivo_pan = random.choice(sabores_aditivos)
        else:
            categoria_producto = random.choice(categorias_no_pan)
            tipo_harina_pan = 'No Aplica'
            sabor_aditivo_pan = 'No Aplica'

        productos_data_list.append({
            'product_id': i + 1,
            'product_name': nombre_producto,
            'category': categoria_producto,
            'brand': marca,
            'price': precio_base,
            'flour_type_bread': tipo_harina_pan,
            'additive_flavor_bread': sabor_aditivo_pan
        })
    df_products = pd.DataFrame(productos_data_list)
    print(f"Datos de productos generados: {len(df_products)} registros.")
    return df_products

Creando df_stores con 3000 tiendas...

In [10]:
df_stores = generate_stores_data(num_stores_target)

Generando datos para 3000 tiendas...
Datos de tiendas generados: 3000 registros.

In [11]:
df_bakery = pd.read_csv('Bakery.csv')

In [12]:
print("\nPrimeras 5 filas:")
print(df_bakery.head())

Primeras 5 filas:
   TransactionNo          Items             DateTime  Daypart  DayType
0              1          Bread  2016-10-30 09:58:11  Morning  Weekend
1              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
2              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
3              3  Hot chocolate  2016-10-30 10:07:57  Morning  Weekend
4              3            Jam  2016-10-30 10:07:57  Morning  Weekend

In [13]:

# Obtener una lista de los IDs de tienda disponibles de df_stores
ids_tiendas_disponibles = df_stores['store_id'].tolist()

In [14]:
# Generar una lista de IDs de tienda aleatorios del tamaño de df_bakery
# Usamos random.choices para permitir repeticiones
tiendas_aleatorias = random.choices(ids_tiendas_disponibles, k=len(df_bakery))

In [15]:
# Asignar esta lista como una nueva columna en df_bakery
df_bakery['ID_Tienda_Aleatoria'] = tiendas_aleatorias

In [16]:
print("\nDataFrame df_bakery con la nueva columna 'ID_Tienda_Aleatoria':")
print(df_bakery.head())

DataFrame df_bakery con la nueva columna 'ID_Tienda_Aleatoria':
   TransactionNo          Items             DateTime  Daypart  DayType  \
0              1          Bread  2016-10-30 09:58:11  Morning  Weekend
1              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
2              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
3              3  Hot chocolate  2016-10-30 10:07:57  Morning  Weekend
4              3            Jam  2016-10-30 10:07:57  Morning  Weekend

                                 ID_Tienda_Aleatoria
0  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
1  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
2  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
3  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
4  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...

In [17]:
print("\nColumnas en df_bakery:", df_bakery.columns.tolist())
print("Columnas en df_stores:", df_stores.columns.tolist())

Columnas en df_bakery: ['TransactionNo', 'Items', 'DateTime', 'Daypart', 'DayType', 'ID_Tienda_Aleatoria']
Columnas en df_stores: ['store_id', 'store_name', 'city', 'region', 'opening_date']

In [ ]:
# Realizar el merge (join)
# left_on: la columna en df_bakery
# right_on: la columna en df_stores
# how='left': Mantiene todas las filas de df_bakery
df_final = pd.merge(df_bakery, df_stores,
                    left_on='ID_Tienda_Aleatoria',
                    right_on='store_id',
                    how='left')

# 1. Columna 'Cantidad' (Qty)
# Para cada fila (que representa un item en una transacción),
# asignamos una cantidad aleatoria (ej. entre 1 y 5 unidades por item).
df_final['Cantidad'] = np.random.randint(1, 6, size=len(df_final)) # Genera enteros entre 1 y 5

# 2. Columna 'Precio_Unitario'
# Asignaremos precios unitarios aleatorios.
# Los precios dependerán del tipo de producto. Podemos usar un rango general
# o, para mayor realismo, un diccionario de precios base por producto.

# Para simplificar y mantener la aleatoriedad, un rango general:
df_final['Precio_Unitario'] = np.round(np.random.uniform(1.0, 25.0, size=len(df_final)), 2)
# Nota: Esto asigna un precio unitario aleatorio a CADA INSTANCIA del producto,
# incluso si es el mismo producto en diferentes transacciones.
# Si quisieras un precio fijo por tipo de 'Items', sería diferente.

# Ejemplo de precios fijos por producto (más realista, pero más complejo si hay muchos productos)
# precios_base = {
#     'Bread': 2.50, 'Scandinavian': 3.00, 'Hot chocolate': 4.50, 'Jam': 3.50,
#     'Coffee': 3.00, 'Tea': 2.80, 'Pastry': 2.00, 'Muffin': 2.20, 'Cookies': 1.80,
#     'Cake': 20.00, 'Scone': 2.00, 'Donut': 2.00
# }
# # Función para obtener el precio base y añadir un poco de aleatoriedad (ej. +- 10%)
# def get_random_price(item):
#     base = precios_base.get(item, 5.00) # 5.00 es un precio por defecto si no lo encuentra
#     return round(base * random.uniform(0.9, 1.1), 2)
# df_final['Precio_Unitario'] = df_final['Items'].apply(get_random_price)


# 3. Columna 'Total_Producto' (Cantidad * Precio_Unitario)

df_final['Total_Producto'] = df_final['Cantidad'] * df_final['Precio_Unitario']

print("\nDataFrame final con 'Cantidad', 'Precio_Unitario' y 'Total_Producto' añadidos:")
print(df_final.head(10)) # Muestra más filas para ver mejor los nuevos datos

# Información para verificar los nuevos tipos de datos
print("\nInformación del DataFrame final con las nuevas columnas:")
df_final.info()

print("\nDataFrame final después de juntar (merge) los datos de la tienda:")
print(df_final.head())

print("\nInformación del DataFrame final para verificar tipos y nulos:")
df_final.info()

In [120]:
# --- CREACIÓN DE df_bakery (para ~1 millón de filas de ventas) ---
num_rows_target = 1_000_000 # Un millón de filas de ventas (cada fila es un ítem vendido)
print(f"Creando df_bakery con {num_rows_target} filas de ventas...")

Creando df_bakery con 1000000 filas de ventas...

In [121]:
# Para 200 productos únicos
num_products_target = 200
productos_unicos = [fake.word().capitalize() + str(i) for i in range(num_products_target)]

# Generar datos para df_bakery
# Generaremos TransactionNo de forma que tengamos aproximadamente 1 millón de filas de ítems
# Si cada transacción tiene en promedio 3 ítems, necesitaríamos ~333,333 transacciones únicas.
# Para simplificar y asegurar 1M de filas, haremos que cada fila represente un "item_venta" único,
# y TransactionNo se puede repetir para simular múltiples ítems por transacción.
# La forma más directa de obtener 1M de filas es generar 1M de TransactionNo y luego items, etc.

# IDs de transacción (pueden repetirse para simular múltiples ítems por transacción)
# Asignaremos TransactionNo en bloques para simular transacciones con varios ítems.
# Por ejemplo, cada 3 ítems podrían ser la misma transacción.
items_per_transaction_avg = 3 # Puedes ajustar este promedio
num_transactions_unique = num_rows_target // items_per_transaction_avg

transaction_nos = np.repeat(np.arange(1, num_transactions_unique + 1), items_per_transaction_avg)[:num_rows_target]
# Aseguramos que la longitud sea exactamente num_rows_target
if len(transaction_nos) < num_rows_target:
    transaction_nos = np.concatenate((transaction_nos, np.arange(num_transactions_unique + 1, num_transactions_unique + 1 + (num_rows_target - len(transaction_nos)))))
elif len(transaction_nos) > num_rows_target:
    transaction_nos = transaction_nos[:num_rows_target]

# Otros datos para df_bakery
items = random.choices(productos_unicos, k=num_rows_target)
prices = np.round(np.random.uniform(1.0, 50.0, size=num_rows_target), 2)
quantities_sold = np.random.randint(1, 10, size=num_rows_target)

# Generar fechas aleatorias dentro de un rango (ej. los últimos 2 años)
start_date = pd.to_datetime('2023-01-01')
end_date = pd.to_datetime('2025-05-20') # Fecha actual
# Generar timestamps aleatorios
random_dates_numeric = np.random.uniform(start_date.timestamp(), end_date.timestamp(), size=num_rows_target)
dates = pd.to_datetime(random_dates_numeric, unit='s')

In [56]:
print("df_bakery creado con un millón de filas.")
print(df_bakery.head())
print(f"Shape de df_bakery: {df_bakery.shape}")

df_bakery creado con un millón de filas.
   TransactionNo          Items             DateTime  Daypart  DayType  \
0              1          Bread  2016-10-30 09:58:11  Morning  Weekend
1              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
2              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
3              3  Hot chocolate  2016-10-30 10:07:57  Morning  Weekend
4              3            Jam  2016-10-30 10:07:57  Morning  Weekend

   ID_Tienda_Aleatoria
0                  580
1                  335
2                  642
3                  790
4                  361
Shape de df_bakery: (20507, 6)

In [122]:
print("\nDataFrame 'df_final' (con info de tiendas) creado y listo para añadir detalles de venta.")
print(df_final.head())
print(f"Shape de df_final después del primer merge: {df_final.shape}")
df_final.info()

DataFrame 'df_final' (con info de tiendas) creado y listo para añadir detalles de venta.
   TransactionNo          Items             DateTime  Daypart  DayType  \
0              1          Bread  2016-10-30 09:58:11  Morning  Weekend
1              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
2              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
3              3  Hot chocolate  2016-10-30 10:07:57  Morning  Weekend
4              3            Jam  2016-10-30 10:07:57  Morning  Weekend

   ID_Tienda_Aleatoria  store_id           store_name    city  \
0                  160       160    Tienda 160 - Jaén    Jaén
1                  153       153    Tienda 153 - Jaén    Jaén
2                  381       381  Tienda 381 - Murcia  Murcia
3                    2         2    Tienda 2 - Burgos  Burgos
4                  536       536    Tienda 536 - León    León

            region opening_date  Cantidad  Precio_Unitario  Total_Producto
0          Levante   2020-05-18         1            17.77           17.77
1           Aragón   2019-09-24         3            11.20           33.60
2  Castilla y León   2023-12-18         4             6.10           24.40
3           Centro   2024-05-02         5             7.84           39.20
4          Levante   2017-02-13         5             1.09            5.45
Shape de df_final después del primer merge: (20507, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20507 entries, 0 to 20506
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   TransactionNo        20507 non-null  int64
 1   Items                20507 non-null  object
 2   DateTime             20507 non-null  object
 3   Daypart              20507 non-null  object
 4   DayType              20507 non-null  object
 5   ID_Tienda_Aleatoria  20507 non-null  int64
 6   store_id             20507 non-null  int64
 7   store_name           20507 non-null  object
 8   city                 20507 non-null  object
 9   region               20507 non-null  object
 10  opening_date         20507 non-null  object
 11  Cantidad             20507 non-null  int64
 12  Precio_Unitario      20507 non-null  float64
 13  Total_Producto       20507 non-null  float64
dtypes: float64(2), int64(4), object(8)
memory usage: 2.2+ MB

In [123]:
num_tiendas_unicas = df_stores['store_id'].nunique()
print(f"\nNúmero de tiendas únicas en df_stores (creadas): {num_tiendas_unicas}")

num_productos_unicos = df_final['Items'].nunique()
print(f"Número de productos únicos en df_final (derivado de df_bakery): {num_productos_unicos}")

num_filas_ventas = df_final.shape[0]
print(f"Número total de filas de ventas (ítems individuales) en df_final: {num_filas_ventas}")

num_transacciones_unicas = df_final['TransactionNo'].nunique()
print(f"Número total de transacciones únicas en df_final: {num_transacciones_unicas}")

print("\n" + "="*30)
print("--- VERIFICACIÓN COMPLETA ---")
print("="*30)

Número de tiendas únicas en df_stores (creadas): 1000
Número de productos únicos en df_final (derivado de df_bakery): 94
Número total de filas de ventas (ítems individuales) en df_final: 20507
Número total de transacciones únicas en df_final: 9465

==============================
--- VERIFICACIÓN COMPLETA ---
==============================

In [124]:
# Define el nombre de tu archivo Parquet
nombre_archivo = 'bakery_sales_bronze.parquet'
full_path = os.path.join('/content/bronze', nombre_archivo)
print(full_path)

/content/bronze/bakery_sales_bronze.parquet

In [125]:
# Guarda el DataFrame en formato Parquet
# index=False es importante para no guardar el índice del DataFrame como una columna
df_final.to_parquet(full_path, index=False)

print(f"\nDataFrame 'df_final' guardado exitosamente en la capa Bronze como: {full_path}")
print("Puedes verificarlo en tu Google Drive en esa ruta.")

DataFrame 'df_final' guardado exitosamente en la capa Bronze como: /content/bronze/bakery_sales_bronze.parquet
Puedes verificarlo en tu Google Drive en esa ruta.

In [126]:
df_leido = pd.read_parquet('/content/bronze/bakery_sales_bronze.parquet')

print(f"\nDataFrame leído de 'bakery_sales_bronze.parquet':")
print(df_leido.head())

DataFrame leído de 'bakery_sales_bronze.parquet':
   TransactionNo          Items             DateTime  Daypart  DayType  \
0              1          Bread  2016-10-30 09:58:11  Morning  Weekend
1              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
2              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
3              3  Hot chocolate  2016-10-30 10:07:57  Morning  Weekend
4              3            Jam  2016-10-30 10:07:57  Morning  Weekend

   ID_Tienda_Aleatoria  store_id           store_name    city  \
0                  160       160    Tienda 160 - Jaén    Jaén
1                  153       153    Tienda 153 - Jaén    Jaén
2                  381       381  Tienda 381 - Murcia  Murcia
3                    2         2    Tienda 2 - Burgos  Burgos
4                  536       536    Tienda 536 - León    León

            region opening_date  Cantidad  Precio_Unitario  Total_Producto
0          Levante   2020-05-18         1            17.77           17.77
1           Aragón   2019-09-24         3            11.20           33.60
2  Castilla y León   2023-12-18         4             6.10           24.40
3           Centro   2024-05-02         5             7.84           39.20
4          Levante   2017-02-13         5             1.09            5.45

# ***CAPA PLATA DONDE VAN LAS DIMENSIONES ***

In [127]:
os.makedirs('plata', exist_ok=True)
fake = Faker()

In [128]:
df_leido = pd.read_parquet('/content/bronze/bakery_sales_bronze.parquet')

print(f"\nDataFrame leído de 'bakery_sales_bronze.parquet':")


print(df_leido.head())

DataFrame leído de 'bakery_sales_bronze.parquet':
   TransactionNo          Items             DateTime  Daypart  DayType  \
0              1          Bread  2016-10-30 09:58:11  Morning  Weekend
1              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
2              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
3              3  Hot chocolate  2016-10-30 10:07:57  Morning  Weekend
4              3            Jam  2016-10-30 10:07:57  Morning  Weekend

   ID_Tienda_Aleatoria  store_id           store_name    city  \
0                  160       160    Tienda 160 - Jaén    Jaén
1                  153       153    Tienda 153 - Jaén    Jaén
2                  381       381  Tienda 381 - Murcia  Murcia
3                    2         2    Tienda 2 - Burgos  Burgos
4                  536       536    Tienda 536 - León    León

            region opening_date  Cantidad  Precio_Unitario  Total_Producto
0          Levante   2020-05-18         1            17.77           17.77
1           Aragón   2019-09-24         3            11.20           33.60
2  Castilla y León   2023-12-18         4             6.10           24.40
3           Centro   2024-05-02         5             7.84           39.20
4          Levante   2017-02-13         5             1.09            5.45

In [130]:
# Obtener la fecha mínima y máxima de tus datos transaccionales.
# Asegúrate de que la columna 'DateTime' sea de tipo datetime.
# Si df_final['DateTime'] no es datetime, conviértela explícitamente.
if not pd.api.types.is_datetime64_any_dtype(df_final['DateTime']):
    df_final['DateTime'] = pd.to_datetime(df_final['DateTime'])

# Obtener la fecha mínima y máxima de tus datos transaccionales.
min_date_data = df_final['DateTime'].min()
max_date_data = df_final['DateTime'].max()

# Establecer el inicio y fin del rango de la DimFecha.
start_date_dim = min_date_data.floor('D')
end_date_dim = max_date_data.ceil('D')

# Generar el rango completo de fechas, día a día (freq='D')
date_range = pd.date_range(start=start_date_dim, end=end_date_dim, freq='D')

print(f"  Fecha mínima en datos: {min_date_data.strftime('%Y-%m-%d %H:%M:%S')}")
print(f"  Fecha máxima en datos: {max_date_data.strftime('%Y-%m-%d %H:%M:%S')}")
print(f"  Rango de DimFecha generado de: {start_date_dim.strftime('%Y-%m-%d')} a {end_date_dim.strftime('%Y-%m-%d')}")
print(f"  Número de días en el rango: {len(date_range)}")
print("-" * 70)


# --- PASO 2: Crear el DataFrame Base de DimFecha ---
print("PASO 2: Creando el DataFrame base de DimFecha...")

# Inicializar el DataFrame con la columna 'Fecha_Completa'
dim_fecha = pd.DataFrame({'Fecha_Completa': date_range})

print("  DataFrame base de DimFecha creado con la columna 'Fecha_Completa'.")
print(dim_fecha.head())
print("-" * 70)


# --- PASO 3: Calcular y Añadir los Atributos Temporales ---
print("PASO 3: Calculando y añadiendo los atributos temporales a DimFecha...")

# 3.1. Fecha_ID (Clave Primaria): Formato YYYYMMDD (ej. 20240520)
# Este formato entero es eficiente para uniones y almacenamiento.
dim_fecha['Fecha_ID'] = dim_fecha['Fecha_Completa'].dt.strftime('%Y%m%d').astype(int)
print("  - 'Fecha_ID' calculada.")

# 3.2. Atributos Básicos de Fecha
dim_fecha['Anio'] = dim_fecha['Fecha_Completa'].dt.year
dim_fecha['Mes'] = dim_fecha['Fecha_Completa'].dt.month
dim_fecha['Dia'] = dim_fecha['Fecha_Completa'].dt.day
print("  - 'Anio', 'Mes', 'Dia' calculados.")

# 3.3. Nombres de Mes y Día de la Semana
dim_fecha['Nombre_Mes'] = dim_fecha['Fecha_Completa'].dt.strftime('%B').str.capitalize() # Nombre completo del mes (ej. 'Mayo')
dim_fecha['Nombre_Dia_Semana'] = dim_fecha['Fecha_Completa'].dt.strftime('%A').str.capitalize() # Nombre completo del día de la semana (ej. 'Martes')
print("  - 'Nombre_Mes', 'Nombre_Dia_Semana' calculados.")

# 3.4. Día de la Semana (Numérico)
# .dt.dayofweek devuelve 0 para Lunes y 6 para Domingo. Sumamos 1 para 1=Lunes, 7=Domingo.
dim_fecha['Dia_de_la_Semana'] = dim_fecha['Fecha_Completa'].dt.dayofweek + 1
print("  - 'Dia_de_la_Semana' calculada (1=Lunes, 7=Domingo).")

# 3.5. Semana del Año (ISO 8601)
# .isocalendar().week devuelve el número de semana ISO.
dim_fecha['Semana_del_Anio'] = dim_fecha['Fecha_Completa'].dt.isocalendar().week.astype(int)
print("  - 'Semana_del_Anio' calculada.")

# 3.6. Trimestre y Nombre del Trimestre
dim_fecha['Trimestre'] = dim_fecha['Fecha_Completa'].dt.quarter
dim_fecha['Nombre_Trimestre'] = 'Q' + dim_fecha['Trimestre'].astype(str) + '-' + dim_fecha['Anio'].astype(str)
print("  - 'Trimestre', 'Nombre_Trimestre' calculados.")

# 3.7. Indicadores Booleanos (Fin de Semana / Día Laboral)
# .dt.weekday devuelve 0=Lunes, 1=Martes,..., 4=Viernes, 5=Sábado, 6=Domingo
dim_fecha['Es_Fin_De_Semana'] = dim_fecha['Fecha_Completa'].dt.weekday.isin([5, 6])
dim_fecha['Es_Dia_Laboral'] = ~dim_fecha['Es_Fin_De_Semana'] # Es lo opuesto a 'Es_Fin_De_Semana'
print("  - 'Es_Fin_De_Semana', 'Es_Dia_Laboral' calculados.")

# 3.8. Más Atributos Opcionales (puedes añadir o modificar según tus necesidades)
# dim_fecha['Dia_del_Anio'] = dim_fecha['Fecha_Completa'].dt.dayofyear # Día del año (1-366)
# dim_fecha['Nombre_Corta_Mes'] = dim_fecha['Fecha_Completa'].dt.strftime('%b') # Ej. 'Jan'
# dim_fecha['Inicio_Semana'] = dim_fecha['Fecha_Completa'].dt.to_period('W').start_time
# dim_fecha['Inicio_Mes'] = dim_fecha['Fecha_Completa'].dt.to_period('M').start_time
# dim_fecha['Inicio_Trimestre'] = dim_fecha['Fecha_Completa'].dt.to_period('Q').start_time
# dim_fecha['Inicio_Anio'] = dim_fecha['Fecha_Completa'].dt.to_period('Y').start_time

print("\nVista previa de DimFecha con todos los atributos:")
print(dim_fecha.head())
print(dim_fecha.tail())
print(f"  Número total de filas en DimFecha: {len(dim_fecha)}")
print("-" * 70)


# --- PASO 4: Seleccionar y Reordenar Columnas (Buena Práctica) ---
print("PASO 4: Seleccionando y reordenando las columnas finales de DimFecha...")

# Define el orden deseado de las columnas
column_order = [
    'Fecha_ID',
    'Fecha_Completa',
    'Anio',
    'Mes',
    'Nombre_Mes',
    'Dia',
    'Dia_de_la_Semana',
    'Nombre_Dia_Semana',
    'Semana_del_Anio',
    'Trimestre',
    'Nombre_Trimestre',
    'Es_Fin_De_Semana',
    'Es_Dia_Laboral'
]

# Aplica el orden al DataFrame
dim_fecha = dim_fecha[column_order]

print("  Columnas finales de DimFecha reordenadas.")
print("\nDimFecha final:")
print(dim_fecha.head())
print(f"\nInformación del DataFrame DimFecha (tipos de datos y nulos):")
dim_fecha.info()
print("-" * 70)

  Fecha mínima en datos: 2016-01-11 07:51:20
  Fecha máxima en datos: 2017-12-03 16:28:00
  Rango de DimFecha generado de: 2016-01-11 a 2017-12-04
  Número de días en el rango: 694
----------------------------------------------------------------------
PASO 2: Creando el DataFrame base de DimFecha...
  DataFrame base de DimFecha creado con la columna 'Fecha_Completa'.
  Fecha_Completa
0     2016-01-11
1     2016-01-12
2     2016-01-13
3     2016-01-14
4     2016-01-15
----------------------------------------------------------------------
PASO 3: Calculando y añadiendo los atributos temporales a DimFecha...
  - 'Fecha_ID' calculada.
  - 'Anio', 'Mes', 'Dia' calculados.
  - 'Nombre_Mes', 'Nombre_Dia_Semana' calculados.
  - 'Dia_de_la_Semana' calculada (1=Lunes, 7=Domingo).
  - 'Semana_del_Anio' calculada.
  - 'Trimestre', 'Nombre_Trimestre' calculados.
  - 'Es_Fin_De_Semana', 'Es_Dia_Laboral' calculados.

Vista previa de DimFecha con todos los atributos:
  Fecha_Completa  Fecha_ID  Anio  Mes  Dia Nombre_Mes Nombre_Dia_Semana  \
0     2016-01-11  20160111  2016    1   11    January            Monday
1     2016-01-12  20160112  2016    1   12    January           Tuesday
2     2016-01-13  20160113  2016    1   13    January         Wednesday
3     2016-01-14  20160114  2016    1   14    January          Thursday
4     2016-01-15  20160115  2016    1   15    January            Friday

   Dia_de_la_Semana  Semana_del_Anio  Trimestre Nombre_Trimestre  \
0                 1                2          1          Q1-2016
1                 2                2          1          Q1-2016
2                 3                2          1          Q1-2016
3                 4                2          1          Q1-2016
4                 5                2          1          Q1-2016

   Es_Fin_De_Semana  Es_Dia_Laboral
0             False            True
1             False            True
2             False            True
3             False            True
4             False            True
    Fecha_Completa  Fecha_ID  Anio  Mes  Dia Nombre_Mes Nombre_Dia_Semana  \
689     2017-11-30  20171130  2017   11   30   November          Thursday
690     2017-12-01  20171201  2017   12    1   December            Friday
691     2017-12-02  20171202  2017   12    2   December          Saturday
692     2017-12-03  20171203  2017   12    3   December            Sunday
693     2017-12-04  20171204  2017   12    4   December            Monday

     Dia_de_la_Semana  Semana_del_Anio  Trimestre Nombre_Trimestre  \
689                 4               48          4          Q4-2017
690                 5               48          4          Q4-2017
691                 6               48          4          Q4-2017
692                 7               48          4          Q4-2017
693                 1               49          4          Q4-2017

     Es_Fin_De_Semana  Es_Dia_Laboral
689             False            True
690             False            True
691              True           False
692              True           False
693             False            True
  Número total de filas en DimFecha: 694
----------------------------------------------------------------------
PASO 4: Seleccionando y reordenando las columnas finales de DimFecha...
  Columnas finales de DimFecha reordenadas.

DimFecha final:
   Fecha_ID Fecha_Completa  Anio  Mes Nombre_Mes  Dia  Dia_de_la_Semana  \
0  20160111     2016-01-11  2016    1    January   11                 1
1  20160112     2016-01-12  2016    1    January   12                 2
2  20160113     2016-01-13  2016    1    January   13                 3
3  20160114     2016-01-14  2016    1    January   14                 4
4  20160115     2016-01-15  2016    1    January   15                 5

  Nombre_Dia_Semana  Semana_del_Anio  Trimestre Nombre_Trimestre  \
0            Monday                2          1          Q1-2016
1           Tuesday                2          1          Q1-2016
2         Wednesday                2          1          Q1-2016
3          Thursday                2          1          Q1-2016
4            Friday                2          1          Q1-2016

   Es_Fin_De_Semana  Es_Dia_Laboral
0             False            True
1             False            True
2             False            True
3             False            True
4             False            True

Información del DataFrame DimFecha (tipos de datos y nulos):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 694 entries, 0 to 693
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Fecha_ID           694 non-null    int64
 1   Fecha_Completa     694 non-null    datetime64[ns]
 2   Anio               694 non-null    int32
 3   Mes                694 non-null    int32
 4   Nombre_Mes         694 non-null    object
 5   Dia                694 non-null    int32
 6   Dia_de_la_Semana   694 non-null    int32
 7   Nombre_Dia_Semana  694 non-null    object
 8   Semana_del_Anio    694 non-null    int64
 9   Trimestre          694 non-null    int32
 10  Nombre_Trimestre   694 non-null    object
 11  Es_Fin_De_Semana   694 non-null    bool
 12  Es_Dia_Laboral     694 non-null    bool
dtypes: bool(2), datetime64[ns](1), int32(5), int64(2), object(3)
memory usage: 47.6+ KB
----------------------------------------------------------------------

In [131]:
# Define el nombre de tu archivo Parquet
nombre_archivo1 = 'dimension_fecha_plata.parquet'
full_path = os.path.join('/content/plata', nombre_archivo1)
print(full_path)

/content/plata/dimension_fecha_plata.parquet

In [132]:
# Guarda el DataFrame en formato Parquet
# index=False es importante para no guardar el índice del DataFrame como una columna
dim_fecha.to_parquet(full_path, index=False)

print(f"\nDataFrame guardado exitosamente en la capa Plata como: {full_path}")
print("Puedes verificarlo en tu Google Drive en esa ruta.")

DataFrame guardado exitosamente en la capa Plata como: /content/plata/dimension_fecha_plata.parquet
Puedes verificarlo en tu Google Drive en esa ruta.

In [133]:
df_leido1 = pd.read_parquet('/content/plata/dimension_fecha_plata.parquet')

print(f"\nDataFrame leído de 'bakery_sales_bronze.parquet':")
print(df_leido1.head())

DataFrame leído de 'bakery_sales_bronze.parquet':
   Fecha_ID Fecha_Completa  Anio  Mes Nombre_Mes  Dia  Dia_de_la_Semana  \
0  20160111     2016-01-11  2016    1    January   11                 1
1  20160112     2016-01-12  2016    1    January   12                 2
2  20160113     2016-01-13  2016    1    January   13                 3
3  20160114     2016-01-14  2016    1    January   14                 4
4  20160115     2016-01-15  2016    1    January   15                 5

  Nombre_Dia_Semana  Semana_del_Anio  Trimestre Nombre_Trimestre  \
0            Monday                2          1          Q1-2016
1           Tuesday                2          1          Q1-2016
2         Wednesday                2          1          Q1-2016
3          Thursday                2          1          Q1-2016
4            Friday                2          1          Q1-2016

   Es_Fin_De_Semana  Es_Dia_Laboral
0             False            True
1             False            True
2             False            True
3             False            True
4             False            True

Dimension Producto

In [135]:
df_leido = pd.read_parquet('/content/bronze/bakery_sales_bronze.parquet')

print(f"\nDataFrame leído de 'bakery_sales_bronze.parquet':")


print(df_leido.head())

DataFrame leído de 'bakery_sales_bronze.parquet':
   TransactionNo          Items             DateTime  Daypart  DayType  \
0              1          Bread  2016-10-30 09:58:11  Morning  Weekend
1              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
2              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
3              3  Hot chocolate  2016-10-30 10:07:57  Morning  Weekend
4              3            Jam  2016-10-30 10:07:57  Morning  Weekend

   ID_Tienda_Aleatoria  store_id           store_name    city  \
0                  160       160    Tienda 160 - Jaén    Jaén
1                  153       153    Tienda 153 - Jaén    Jaén
2                  381       381  Tienda 381 - Murcia  Murcia
3                    2         2    Tienda 2 - Burgos  Burgos
4                  536       536    Tienda 536 - León    León

            region opening_date  Cantidad  Precio_Unitario  Total_Producto
0          Levante   2020-05-18         1            17.77           17.77
1           Aragón   2019-09-24         3            11.20           33.60
2  Castilla y León   2023-12-18         4             6.10           24.40
3           Centro   2024-05-02         5             7.84           39.20
4          Levante   2017-02-13         5             1.09            5.45

In [184]:

print("Obteniendo la Dimensión Producto...")
df_dim_products = generate_products_data_custom(NUM_PRODUCTOS_OBJETIVO, fake)

Obteniendo la Dimensión Producto...
Generando datos para DimProducto (200 productos, incluyendo clasificación de pan)...
Datos de productos generados: 200 registros.

In [185]:
print("\n--- DataFrame de la Dimensión Producto (Columnas solicitadas) ---")

# Seleccionar las columnas usando sus nombres CORRECTOS de df_dim_products
# product_name en lugar de 'nombre'
# category en lugar de 'categoria'
# price en lugar de 'precio'
df_display = df_dim_products[['product_id', 'product_name', 'category', 'price']].copy()

# Ahora sí, renombrar las columnas según la solicitud del usuario
df_display.rename(columns={
    'product_id': 'ID_Producto',
    'product_name': 'Nombre_Producto',
    'category': 'Clasificacion_Producto',
    'price': 'Precio_Base'
}, inplace=True)

print(df_display.head())
print(f"\nNúmero total de productos en la dimensión: {len(df_display)}")
print("\nColumnas y tipos de datos:")
df_display.info()
print("-" * 60)

--- DataFrame de la Dimensión Producto (Columnas solicitadas) ---
   ID_Producto   Nombre_Producto Clasificacion_Producto  Precio_Base
0            1     Music Gen 135            Bebida Fría        12.13
1            2       Flan casero             Repostería        37.93
2            3     Image Gen 176       Bocadillo Salado        26.91
3            4          Buñuelos        Bebida Caliente        24.47
4            5  Cereal con leche       Bocadillo Salado        40.16

Número total de productos en la dimensión: 200

Columnas y tipos de datos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID_Producto             200 non-null    int64
 1   Nombre_Producto         200 non-null    object
 2   Clasificacion_Producto  200 non-null    object
 3   Precio_Base             200 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.4+ KB
------------------------------------------------------------

In [199]:
# Define el nombre de tu archivo Parquet
nombre_archivo2 = 'dimension_producto_plata.parquet'
full_path = os.path.join('/content/plata', nombre_archivo2)
print(full_path)

/content/plata/dimension_producto_plata.parquet

In [201]:
# Guarda el DataFrame en formato Parquet
# index=False es importante para no guardar el índice del DataFrame como una columna
df_display.to_parquet(full_path, index=False)

print(f"\nDataFrame guardado exitosamente en la capa Plata como: {full_path}")
print("Puedes verificarlo en tu Google Drive en esa ruta.")

DataFrame guardado exitosamente en la capa Plata como: /content/plata/dimension_producto_plata.parquet
Puedes verificarlo en tu Google Drive en esa ruta.

In [207]:
df_leido2 = pd.read_parquet('/content/plata/dimension_producto_plata.parquet')

print(f"\nDataFrame leído :")
print(df_leido2.head())

DataFrame leído :
   ID_Producto   Nombre_Producto Clasificacion_Producto  Precio_Base
0            1     Music Gen 135            Bebida Fría        12.13
1            2       Flan casero             Repostería        37.93
2            3     Image Gen 176       Bocadillo Salado        26.91
3            4          Buñuelos        Bebida Caliente        24.47
4            5  Cereal con leche       Bocadillo Salado        40.16

DIMENSIONN TIENDA

In [163]:
df_leido = pd.read_parquet('/content/bronze/bakery_sales_bronze.parquet')

print(f"\nDataFrame leído de 'bakery_sales_bronze.parquet':")


print(df_leido.head())

DataFrame leído de 'bakery_sales_bronze.parquet':
   TransactionNo          Items             DateTime  Daypart  DayType  \
0              1          Bread  2016-10-30 09:58:11  Morning  Weekend
1              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
2              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
3              3  Hot chocolate  2016-10-30 10:07:57  Morning  Weekend
4              3            Jam  2016-10-30 10:07:57  Morning  Weekend

   ID_Tienda_Aleatoria  store_id           store_name    city  \
0                  160       160    Tienda 160 - Jaén    Jaén
1                  153       153    Tienda 153 - Jaén    Jaén
2                  381       381  Tienda 381 - Murcia  Murcia
3                    2         2    Tienda 2 - Burgos  Burgos
4                  536       536    Tienda 536 - León    León

            region opening_date  Cantidad  Precio_Unitario  Total_Producto
0          Levante   2020-05-18         1            17.77           17.77
1           Aragón   2019-09-24         3            11.20           33.60
2  Castilla y León   2023-12-18         4             6.10           24.40
3           Centro   2024-05-02         5             7.84           39.20
4          Levante   2017-02-13         5             1.09            5.45

In [151]:
dim_tienda_base = df_final[['store_id', 'store_name', 'city', 'region', 'opening_date']].drop_duplicates(subset=['store_id']).reset_index(drop=True)

In [152]:
# Renombrar columnas para que coincidan con la convención de DimTienda
dim_tienda_base = dim_tienda_base.rename(columns={
    'store_id': 'Tienda_ID',
    'store_name': 'Nombre_Tienda',
    'city': 'Ciudad',
    'region': 'Region_Geografica', # Renombramos para distinguirla del 'Estado' si es necesario
    'opening_date': 'Fecha_Apertura'
})

print("  Datos únicos de tiendas extraídos:")
print(dim_tienda_base.head())
print(f"  Número de tiendas únicas encontradas: {len(dim_tienda_base)}")
print("-" * 80)

  Datos únicos de tiendas extraídos:
   Tienda_ID        Nombre_Tienda  Ciudad Region_Geografica Fecha_Apertura
0        160    Tienda 160 - Jaén    Jaén           Levante     2020-05-18
1        153    Tienda 153 - Jaén    Jaén            Aragón     2019-09-24
2        381  Tienda 381 - Murcia  Murcia   Castilla y León     2023-12-18
3          2    Tienda 2 - Burgos  Burgos            Centro     2024-05-02
4        536    Tienda 536 - León    León           Levante     2017-02-13
  Número de tiendas únicas encontradas: 1000
--------------------------------------------------------------------------------

In [153]:

# Mapeo simple de regiones a estados (ejemplo, ajusta según tu lógica)
# Si 'region' ya representa el estado, puedes simplemente asignar:
# dim_tienda_base['Estado'] = dim_tienda_base['Region_Geografica']

# Si 'region' es más amplia (ej. 'Norte') y necesitas un 'Estado' más específico:
# Puedes crear un mapeo más complejo o generar aleatoriamente.
# Para este ejemplo, supondremos un mapeo simple basado en las regiones mostradas en tus datos
region_to_estado_map = {
    'Levante': 'Comunidad Valenciana',
    'Aragón': 'Aragón',
    'Castilla y Leon': 'Castilla y León',
    'Centro': 'Comunidad de Madrid', # O Castilla-La Mancha, etc.
    'Noroeste': 'Galicia', # O Asturias, Cantabria
    'Norte': 'País Vasco', # O Cantabria, Asturias
    'Andalucía': 'Andalucía'
}
dim_tienda_base['Estado'] = dim_tienda_base['Region_Geografica'].map(region_to_estado_map).fillna('Desconocido')

print("  Columna 'Estado' añadida.")
print(dim_tienda_base.head())
print("-" * 80)

  Columna 'Estado' añadida.
   Tienda_ID        Nombre_Tienda  Ciudad Region_Geografica Fecha_Apertura  \
0        160    Tienda 160 - Jaén    Jaén           Levante     2020-05-18
1        153    Tienda 153 - Jaén    Jaén            Aragón     2019-09-24
2        381  Tienda 381 - Murcia  Murcia   Castilla y León     2023-12-18
3          2    Tienda 2 - Burgos  Burgos            Centro     2024-05-02
4        536    Tienda 536 - León    León           Levante     2017-02-13

                 Estado
0  Comunidad Valenciana
1                Aragón
2           Desconocido
3   Comunidad de Madrid
4  Comunidad Valenciana
--------------------------------------------------------------------------------

In [154]:
# --- PASO 3: Añadir la Columna 'Tipo_Tienda' (Generado Aleatoriamente) ---


tipos_tienda_posibles = [
    'Panadería Artesanal', 'Cafetería Especializada', 'Panadería Express',
    'Boutique de Pan', 'Tienda de Conveniencia', 'Gourmet'
]

dim_tienda_base['Tipo_Tienda'] = [random.choice(tipos_tienda_posibles) for _ in range(len(dim_tienda_base))]

print("  Columna 'Tipo_Tienda' añadida.")
print(dim_tienda_base.head())
print("-" * 80)

  Columna 'Tipo_Tienda' añadida.
   Tienda_ID        Nombre_Tienda  Ciudad Region_Geografica Fecha_Apertura  \
0        160    Tienda 160 - Jaén    Jaén           Levante     2020-05-18
1        153    Tienda 153 - Jaén    Jaén            Aragón     2019-09-24
2        381  Tienda 381 - Murcia  Murcia   Castilla y León     2023-12-18
3          2    Tienda 2 - Burgos  Burgos            Centro     2024-05-02
4        536    Tienda 536 - León    León           Levante     2017-02-13

                 Estado              Tipo_Tienda
0  Comunidad Valenciana  Cafetería Especializada
1                Aragón      Panadería Artesanal
2           Desconocido          Boutique de Pan
3   Comunidad de Madrid  Cafetería Especializada
4  Comunidad Valenciana   Tienda de Conveniencia
--------------------------------------------------------------------------------

In [155]:

column_order_dim_tienda = [
    'Tienda_ID',
    'Nombre_Tienda',
    'Ciudad',
    'Estado',        # Nueva columna
    'Region_Geografica', # La columna 'region' original, renombrada
    'Tipo_Tienda',   # Nueva columna
    'Fecha_Apertura' # La columna 'opening_date' original
]

dim_tienda = dim_tienda_base[column_order_dim_tienda]
print("\nDimTienda final:")
print(dim_tienda.head())

DimTienda final:
   Tienda_ID        Nombre_Tienda  Ciudad                Estado  \
0        160    Tienda 160 - Jaén    Jaén  Comunidad Valenciana
1        153    Tienda 153 - Jaén    Jaén                Aragón
2        381  Tienda 381 - Murcia  Murcia           Desconocido
3          2    Tienda 2 - Burgos  Burgos   Comunidad de Madrid
4        536    Tienda 536 - León    León  Comunidad Valenciana

  Region_Geografica              Tipo_Tienda Fecha_Apertura
0           Levante  Cafetería Especializada     2020-05-18
1            Aragón      Panadería Artesanal     2019-09-24
2   Castilla y León          Boutique de Pan     2023-12-18
3            Centro  Cafetería Especializada     2024-05-02
4           Levante   Tienda de Conveniencia     2017-02-13

Número total de tiendas en DimTienda: 1000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Tienda_ID          1000 non-null   int64
 1   Nombre_Tienda      1000 non-null   object
 2   Ciudad             1000 non-null   object
 3   Estado             1000 non-null   object
 4   Region_Geografica  1000 non-null   object
 5   Tipo_Tienda        1000 non-null   object
 6   Fecha_Apertura     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB
Información de DimTienda: None
--------------------------------------------------------------------------------

In [156]:
print(f"\nNúmero total de tiendas en DimTienda: {len(dim_tienda)}")
print(f"Información de DimTienda: {dim_tienda.info()}")
print("-" * 80)

Número total de tiendas en DimTienda: 1000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Tienda_ID          1000 non-null   int64
 1   Nombre_Tienda      1000 non-null   object
 2   Ciudad             1000 non-null   object
 3   Estado             1000 non-null   object
 4   Region_Geografica  1000 non-null   object
 5   Tipo_Tienda        1000 non-null   object
 6   Fecha_Apertura     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB
Información de DimTienda: None
--------------------------------------------------------------------------------

In [159]:
# Define el nombre de tu archivo Parquet
nombre_archivo3 = 'dimension_tienda_plata.parquet'
full_path = os.path.join('/content/plata', nombre_archivo3)
print(full_path)

/content/plata/dimension_tienda_plata.parquet

In [160]:
# Guarda el DataFrame en formato Parquet
# index=False es importante para no guardar el índice del DataFrame como una columna
dim_tienda.to_parquet(full_path, index=False)

print(f"\nDataFrame guardado exitosamente en la capa Plata como: {full_path}")
print("Puedes verificarlo en tu Google Drive en esa ruta.")

DataFrame guardado exitosamente en la capa Plata como: /content/plata/dimension_tienda_plata.parquet
Puedes verificarlo en tu Google Drive en esa ruta.

In [162]:
df_leido3 = pd.read_parquet('/content/plata/dimension_tienda_plata.parquet')

print(f"\nDataFrame leído :")
print(df_leido3.head())

DataFrame leído :
   Tienda_ID        Nombre_Tienda  Ciudad                Estado  \
0        160    Tienda 160 - Jaén    Jaén  Comunidad Valenciana
1        153    Tienda 153 - Jaén    Jaén                Aragón
2        381  Tienda 381 - Murcia  Murcia           Desconocido
3          2    Tienda 2 - Burgos  Burgos   Comunidad de Madrid
4        536    Tienda 536 - León    León  Comunidad Valenciana

  Region_Geografica              Tipo_Tienda Fecha_Apertura
0           Levante  Cafetería Especializada     2020-05-18
1            Aragón      Panadería Artesanal     2019-09-24
2   Castilla y León          Boutique de Pan     2023-12-18
3            Centro  Cafetería Especializada     2024-05-02
4           Levante   Tienda de Conveniencia     2017-02-13

tabla de hechos Ventas

In [8]:
df_leido = pd.read_parquet('/content/bronze/bakery_sales_bronze.parquet')

print(f"\nDataFrame leído de 'bakery_sales_bronze.parquet':")


print(df_leido.head())

DataFrame leído de 'bakery_sales_bronze.parquet':
   TransactionNo          Items             DateTime  Daypart  DayType  \
0              1          Bread  2016-10-30 09:58:11  Morning  Weekend
1              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
2              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
3              3  Hot chocolate  2016-10-30 10:07:57  Morning  Weekend
4              3            Jam  2016-10-30 10:07:57  Morning  Weekend

   ID_Tienda_Aleatoria  store_id           store_name    city  \
0                  160       160    Tienda 160 - Jaén    Jaén
1                  153       153    Tienda 153 - Jaén    Jaén
2                  381       381  Tienda 381 - Murcia  Murcia
3                    2         2    Tienda 2 - Burgos  Burgos
4                  536       536    Tienda 536 - León    León

            region opening_date  Cantidad  Precio_Unitario  Total_Producto
0          Levante   2020-05-18         1            17.77           17.77
1           Aragón   2019-09-24         3            11.20           33.60
2  Castilla y León   2023-12-18         4             6.10           24.40
3           Centro   2024-05-02         5             7.84           39.20
4          Levante   2017-02-13         5             1.09            5.45

In [9]:
# Seleccionar las columnas directamente relevantes para la tabla de hechos
# Usaremos 'store_id' ya que parece ser la columna de ID de tienda en tu df_final
fact_ventas = df_final[[
    'TransactionNo', 'DateTime', 'Items', 'store_id', # <-- CAMBIO AQUÍ: Usamos 'store_id'
    'Cantidad', 'Precio_Unitario', 'Total_Producto', 'Daypart', 'DayType'
]].copy()

print("  DataFrame base de FactVentas creado:")
print(fact_ventas.head())
print("-" * 80)

# --- Continúa con la lógica de renombrar 'store_id' a 'Tienda_ID' más adelante ---
# Puedes renombrarlo aquí si lo prefieres, o en el paso 5 como estaba antes.
# Por ejemplo, justo después de crear fact_ventas:
fact_ventas = fact_ventas.rename(columns={'store_id': 'Tienda_ID'})
print("  'store_id' renombrado a 'Tienda_ID'.")
print(fact_ventas.head())
print("-" * 80)

NameError: name 'df_final' is not defined

In [224]:

df_leido2 = pd.read_parquet('/content/plata/dimension_producto_plata.parquet')

In [225]:
dim_producto = df_leido2

In [226]:
try:
    df_temp_producto = pd.read_parquet(dim_producto)
    # Aquí, como has demostrado que df_temp_producto ya tiene las columnas correctas,
    # la lógica 'elif 'Producto_ID' in df_temp_producto.columns...' se ejecutará
    # y asignará df_temp_producto directamente a dim_producto.
    if 'product_id' in df_temp_producto.columns and 'product_name' in df_temp_producto.columns:
        dim_producto = df_temp_producto.rename(columns={
            'product_id': 'Producto_ID',
            'product_name': 'Nombre_Producto',
            'category': 'Clasificacion_Producto',
            'price': 'Precio_Base'
        })
    elif 'Producto_ID' in df_temp_producto.columns and 'Nombre_Producto' in df_temp_producto.columns: # Esta condición debería ser verdadera ahora
        dim_producto = df_temp_producto
    else:
        # Esto solo se ejecutaría si hay un problema inesperado con las columnas
        print("ADVERTENCIA: Columnas esperadas no encontradas. Creando dim_producto de demostración.")
        dim_producto = pd.DataFrame({
            'Producto_ID': [1, 2],
            'Nombre_Producto': ['Pan', 'Café'],
            'Precio_Base_Producto': [2.5, 3.0]
        })
    print(f"DimProducto cargada exitosamente. Filas: {len(dim_producto)}. Columnas: {dim_producto.columns.tolist()}")
except FileNotFoundError:
    print(f"ERROR: Archivo no encontrado en {dim_producto_path}. Creando dim_producto de demostración.")
    dim_producto = pd.DataFrame({
        'Producto_ID': [1, 2],
        'Nombre_Producto': ['Pan', 'Café'],
        'Precio_Base_Producto': [2.5, 3.0]
    })
except Exception as e:
    print(f"ERROR inesperado al cargar DimProducto: {e}. Creando dim_producto de demostración.")
    dim_producto = pd.DataFrame({
        'Producto_ID': [1, 2],
        'Nombre_Producto': ['Pan', 'Café'],
        'Precio_Base_Producto': [2.5, 3.0]
    })

ERROR inesperado al cargar DimProducto: cannot construct a FileSource from      ID_Producto            Nombre_Producto Clasificacion_Producto  \
0              1              Music Gen 135            Bebida Fría
1              2                Flan casero             Repostería
2              3              Image Gen 176       Bocadillo Salado
3              4                   Buñuelos        Bebida Caliente
4              5           Cereal con leche       Bocadillo Salado
5              6          Empanada de carne       Panes Especiales
6              7           Pan de Zanahoria       Panes Especiales
7              8             Simple Gen 197                 Salado
8              9                   Té Verde        Bebida Caliente
9             10        Tostada de aguacate                 Salado
10            11           American Gen 133            Bebida Fría
11            12              Crime Gen 143                 Salado
12            13                 We Gen 137             Repostería
13            14          Omelette de queso            Bebida Fría
14            15              Clear Gen 158        Bebida Caliente
15            16               Pull Gen 115             Repostería
16            17            Trouble Gen 142       Bocadillo Salado
17            18             Instead Gen 86            Bebida Fría
18            19          Cerveza artesanal            Bebida Fría
19            20           Crepa de Nutella       Bocadillo Salado
20            21        Pan Germinado Vital              Pan Dulce
21            22            Meeting Gen 183                 Salado
22            23             Smoothie verde             Repostería
23            24        Pan Integral Casero                 Bollos
24            25         Pan de Ajo Rústico       Panes Especiales
25            26            Several Gen 164        Bebida Caliente
26            27            Pan Multicereal                 Bollos
27            28             Rather Gen 102       Bocadillo Salado
28            29               None Gen 101             Repostería
29            30             During Gen 138        Bebida Caliente
30            31       Brownie de Chocolate        Bebida Caliente
31            32               Agua con gas            Bebida Fría
32            33                   Baguette              Pan Dulce
33            34               Site Gen 134                 Salado
34            35                Food Gen 92       Bocadillo Salado
35            36           Tarta de Manzana            Bebida Fría
36            37          Enchiladas suizas       Bocadillo Salado
37            38                     Panini              Pan Dulce
38            39             Likely Gen 185        Bebida Caliente
39            40             Police Gen 162        Bebida Caliente
40            41          Determine Gen 174        Bebida Caliente
41            42         Ensalada de frutas                 Postre
42            43               Rise Gen 116                 Postre
43            44             Provide Gen 96                 Postre
44            45               Huge Gen 141       Bocadillo Salado
45            46         Barrita energética                 Postre
46            47          Taco de cochinita                 Postre
47            48              Report Gen 89        Bebida Caliente
48            49          Character Gen 153       Bocadillo Salado
49            50             Future Gen 148        Bebida Caliente
50            51                 Or Gen 117             Repostería
51            52             Speech Gen 129            Bebida Fría
52            53            Purpose Gen 127       Bocadillo Salado
53            54                Thus Gen 99                 Salado
54            55          Sometimes Gen 145                 Postre
55            56                Pan de Maíz           Pan de Molde
56            57         Chocolate caliente        Bebida Caliente
57            58            Bollos de Leche           Pan de Molde
58            59           Nachos con queso                 Salado
59            60             Huevo revuelto       Bocadillo Salado
60            61            Serious Gen 149       Bocadillo Salado
61            62               Great Gen 94                 Salado
62            63                Pan de Coco           Pan Integral
63            64        Panqueques con miel           Pan Integral
64            65            Latte Macchiato                 Salado
65            66                 Vino tinto            Bebida Fría
66            67            Various Gen 154        Bebida Caliente
67            68            Cereal integral                 Bollos
68            69              Muffin de Pan    Panadería Artesanal
69            70            Without Gen 147                 Salado
70            71               Color Gen 98                 Salado
71            72             Ensalada César        Bebida Caliente
72            73             Affect Gen 165                 Postre
73            74                Add Gen 193                 Salado
74            75           Sopa de verduras        Bebida Caliente
75            76        Pastel de chocolate                 Postre
76            77               Pan de Campo       Panes Especiales
77            78           Somebody Gen 108            Bebida Fría
78            79                Song Gen 93                 Salado
79            80             Wonder Gen 118            Bebida Fría
80            81          Bocadillo de Atún       Bocadillo Salado
81            82                   Ciabatta       Panes Especiales
82            83             Pizza personal                 Postre
83            84           Refresco de cola            Bebida Fría
84            85            Pan de Calabaza           Pan de Molde
85            86              Serve Gen 130                 Postre
86            87          Waffles con crema        Bebida Caliente
87            88            Paleta de hielo             Repostería
88            89               Space Gen 88            Bebida Fría
89            90               Agua Mineral       Bocadillo Salado
90            91               Hear Gen 181                 Postre
91            92                 So Gen 104                 Postre
92            93          Different Gen 120       Bocadillo Salado
93            94             Manage Gen 177             Repostería
94            95      Churros con chocolate             Repostería
95            96        Muffin de Arándanos           Pan de Molde
96            97          Available Gen 186        Bebida Caliente
97            98               Safe Gen 156            Bebida Fría
98            99                 Leg Gen 85        Bebida Caliente
99           100                Win Gen 160        Bebida Caliente
100          101           Magazine Gen 166                 Salado
101          102               Yogur griego                 Postre
102          103               Work Gen 179                 Postre
103          104            Project Gen 171                 Postre
104          105           Burrito de pollo            Bebida Fría
105          106              Month Gen 111            Bebida Fría
106          107                 Mr Gen 189            Bebida Fría
107          108            Produce Gen 198            Bebida Fría
108          109            Exactly Gen 122             Repostería
109          110           Galleta de Avena           Pan Integral
110          111             Pan de Cebolla                 Bollos
111          112          Gelatina de fresa                 Postre
112          113       Pan Dulce de Naranja           Pan de Molde
113          114                Trip Gen 91        Bebida Caliente
114          115             Pan de Espelta              Pan Dulce
115          116         Everything Gen 190                 Postre
116          117                Lot Gen 194            Bebida Fría
117          118              Under Gen 139       Bocadillo Salado
118          119               Type Gen 140            Bebida Fría
119          120                  Magdalena       Bocadillo Salado
120          121             Amount Gen 196             Repostería
121          122            Jugo de Naranja             Repostería
122          123           Yourself Gen 152             Repostería
123          124                 At Gen 170             Repostería
124          125             Pan de Hot Dog    Panadería Artesanal
125          126     Pan de Centeno Clásico       Panes Especiales
126          127        Quiche de espinacas       Bocadillo Salado
127          128              Ready Gen 107            Bebida Fría
128          129                Pan de Pita       Panes Especiales
129          130                  Croissant    Panadería Artesanal
130          131         Democratic Gen 150            Bebida Fría
131          132         Themselves Gen 125        Bebida Caliente
132          133       Crema de champiñones            Bebida Fría
133          134              Event Gen 184        Bebida Caliente
134          135                   Focaccia           Pan Integral
135          136                Way Gen 199        Bebida Caliente
136          137             Across Gen 155                 Postre
137          138              Shake Gen 110            Bebida Fría
138          139               Same Gen 128             Repostería
139          140          Authority Gen 159                 Postre
140          141             Second Gen 178                 Salado
141          142        Performance Gen 191                 Salado
142          143           Practice Gen 175             Repostería
143          144              Spend Gen 180            Bebida Fría
144          145             Citizen Gen 97             Repostería
145          146               Fruta fresca             Repostería
146          147      Guacamole con totopos            Bebida Fría
147          148            Arroz con leche                 Salado
148          149            Picture Gen 119                 Salado
149          150             Minute Gen 144        Bebida Caliente
150          151            Realize Gen 106                 Postre
151          152             Donut Glaseado                 Salado
152          153               Range Gen 87       Bocadillo Salado
153          154              Stuff Gen 124        Bebida Caliente
154          155               Grow Gen 131                 Postre
155          156               Over Gen 188                 Salado
156          157  Sándwich de Jamón y Queso                 Salado
157          158               Have Gen 169                 Postre
158          159                  Té helado        Bebida Caliente
159          160              Three Gen 157             Repostería
160          161               Life Gen 113                 Salado
161          162              Drive Gen 146             Repostería
162          163             Café Americano                 Postre
163          164             Relate Gen 132             Repostería
164          165               That Gen 172             Repostería
165          166            Another Gen 121            Bebida Fría
166          167               Light Gen 90                 Postre
167          168              Since Gen 173             Repostería
168          169                Pan Chapata           Pan Integral
169          170               Pan de Avena              Pan Dulce
170          171            Station Gen 109        Bebida Caliente
171          172         Pan de Tomate Seco                 Bollos
172          173               Down Gen 136                 Postre
173          174                Guy Gen 182                 Postre
174          175               Next Gen 123             Repostería
175          176             Center Gen 168             Repostería
176          177               Join Gen 167        Bebida Caliente
177          178               Your Gen 126            Bebida Fría
178          179            Chips de Patata                 Postre
179          180              Floor Gen 163             Repostería
180          181            Quality Gen 151                 Postre
181          182         Pan de Hamburguesa    Panadería Artesanal
182          183             Lawyer Gen 114                 Postre
183          184               Want Gen 187                 Postre
184          185            Usually Gen 100                 Salado
185          186                    Brioche                 Bollos
186          187              Wrap de Pollo       Bocadillo Salado
187          188           Sopa de tortilla                 Salado
188          189                Kid Gen 161            Bebida Fría
189          190           Daughter Gen 112            Bebida Fría
190          191              Along Gen 192        Bebida Caliente
191          192   Pan con Semillas de Chía                 Bollos
192          193         Helado de vainilla                 Salado
193          194               Dark Gen 195             Repostería
194          195              Carry Gen 105       Bocadillo Salado
195          196              Young Gen 103             Repostería
196          197             Prevent Gen 95             Repostería
197          198          Pan de Masa Madre    Panadería Artesanal
198          199             Zumo de frutas             Repostería
199          200           Pan de Aceitunas              Pan Dulce

     Precio_Base
0          12.13
1          37.93
2          26.91
3          24.47
4          40.16
5           4.39
6           6.38
7          20.39
8          15.30
9          19.35
10         18.32
11         38.65
12         19.08
13         15.99
14          3.39
15          1.68
16         39.00
17          4.10
18          8.87
19         43.17
20         29.19
21          9.74
22         43.99
23         36.53
24         32.73
25         30.31
26         48.84
27         18.24
28         17.83
29         23.59
30         31.62
31         13.88
32         24.90
33         22.18
34         35.17
35         38.76
36          8.39
37          2.26
38          5.09
39         46.48
40         28.43
41         44.08
42         35.70
43         19.74
44         18.99
45         19.57
46         10.96
47         40.63
48         23.00
49         19.17
50         12.44
51         27.47
52         31.35
53         44.39
54         43.85
55         49.05
56         13.49
57         30.58
58         22.32
59         25.87
60         14.56
61         49.79
62         29.60
63         47.00
64         28.22
65         39.30
66         41.63
67          5.37
68          3.72
69         17.60
70         22.43
71         36.30
72         40.29
73         22.31
74         27.69
75         48.29
76         13.09
77         45.29
78          3.18
79         36.28
80         21.26
81          7.92
82         11.29
83         29.19
84         23.28
85         37.81
86         29.73
87         39.78
88         10.01
89         21.47
90         13.02
91         19.37
92         21.54
93         27.38
94         34.38
95         34.46
96         29.93
97         43.18
98          1.75
99         10.01
100         3.51
101        29.32
102        37.64
103        40.58
104         8.32
105         5.59
106        28.07
107        33.04
108        44.26
109         8.11
110        16.54
111         7.04
112        19.62
113        33.55
114        48.87
115        13.46
116        20.93
117        40.97
118         1.09
119        41.84
120        41.68
121        24.29
122        49.48
123         2.55
124        42.22
125        16.82
126        12.07
127        26.74
128        37.20
129         9.65
130         6.43
131        17.22
132         3.47
133         5.08
134        47.81
135        47.03
136        46.35
137        26.28
138        20.36
139         5.88
140        30.02
141        17.52
142        31.78
143        49.46
144        43.55
145        49.21
146        22.44
147         3.05
148        19.04
149        31.67
150        33.79
151        17.57
152         2.18
153        11.38
154        11.61
155        22.63
156        19.81
157        29.39
158        20.65
159         6.99
160         8.38
161         5.56
162        32.50
163        22.86
164         7.31
165        19.61
166        17.07
167        17.92
168        11.45
169        21.20
170        28.14
171        41.77
172        45.46
173        18.30
174        40.66
175         1.25
176        23.81
177        23.85
178         6.25
179        30.13
180        31.62
181        32.95
182        22.31
183        41.09
184        11.49
185        23.65
186        21.68
187        10.99
188        48.67
189        16.04
190        39.58
191        44.24
192        44.05
193        46.94
194        34.83
195        24.28
196        32.57
197         7.72
198        22.49
199        26.23  . Creando dim_producto de demostración.

In [6]:
if 'Producto_ID' not in dim_producto.columns or 'Nombre_Producto' not in dim_producto.columns:
    print("ERROR: DimProducto cargada no contiene las columnas 'Producto_ID' o 'Nombre_Producto' esperadas.")
    print(f"Columnas actuales de dim_producto: {dim_producto.columns.tolist()}")
    raise KeyError("Columnas faltantes en DimProducto. No se puede realizar el merge.")

In [7]:
cols_to_select = ['TransactionNo', 'DateTime', 'Items', 'Cantidad', 'Precio_Unitario', 'Total_Producto', 'Daypart', 'DayType']
store_id_col = None

if 'store_id' in df_final.columns:
    cols_to_select.append('store_id')
    store_id_col = 'store_id'
elif 'ID_Tienda_Aleatoria' in df_final.columns:
    cols_to_select.append('ID_Tienda_Aleatoria')
    store_id_col = 'ID_Tienda_Aleatoria'
else:
    raise KeyError("Ni 'store_id' ni 'ID_Tienda_Aleatoria' encontrados en df_final_bronze. No se puede crear FactVentas.")

fact_ventas = df_final[cols_to_select].copy()

# Renombrar la columna de ID de tienda a 'Tienda_ID'
if store_id_col:
    fact_ventas = fact_ventas.rename(columns={store_id_col: 'Tienda_ID'})
print("  Columna de ID de tienda renombrada a 'Tienda_ID'.")

print("  DataFrame base de FactVentas creado:")
print(fact_ventas.head())
print("-" * 80)

NameError: name 'df_final' is not defined

In [233]:
# Extraer solo la parte de la fecha de 'DateTime' para la unión con DimFecha
fact_ventas['Fecha_Completa_Solo_Fecha'] = fact_ventas['DateTime'].dt.normalize()

fact_ventas = pd.merge(
    fact_ventas,
    dim_fecha[['Fecha_ID', 'Fecha_Completa']],
    left_on='Fecha_Completa_Solo_Fecha',
    right_on='Fecha_Completa',
    how='left'
)

# Eliminar las columnas de unión temporales de fecha.
# 'DateTime' se mantiene porque podría ser necesaria para otras uniones o en el final del Fact.
fact_ventas = fact_ventas.drop(columns=['Fecha_Completa_Solo_Fecha', 'Fecha_Completa'])

print("  'Fecha_ID' añadido a FactVentas.")
print(fact_ventas.head())
print("-" * 80)

  'Fecha_ID' añadido a FactVentas.
   TransactionNo            DateTime          Items  Cantidad  \
0              1 2016-10-30 09:58:11          Bread         1
1              2 2016-10-30 10:05:34   Scandinavian         3
2              2 2016-10-30 10:05:34   Scandinavian         4
3              3 2016-10-30 10:07:57  Hot chocolate         5
4              3 2016-10-30 10:07:57            Jam         5

   Precio_Unitario  Total_Producto  Daypart  DayType  Tienda_ID  Fecha_ID
0            17.77           17.77  Morning  Weekend        160  20161030
1            11.20           33.60  Morning  Weekend        153  20161030
2             6.10           24.40  Morning  Weekend        381  20161030
3             7.84           39.20  Morning  Weekend          2  20161030
4             1.09            5.45  Morning  Weekend        536  20161030
--------------------------------------------------------------------------------

In [234]:
print("4. Uniendo con DimProducto para obtener 'Producto_ID'...")

if 'Producto_ID' not in dim_producto.columns or 'Nombre_Producto' not in dim_producto.columns:
    print("ERROR: DimProducto cargada no contiene las columnas 'Producto_ID' o 'Nombre_Producto' esperadas.")
    print(f"Columnas actuales de dim_producto: {dim_producto.columns.tolist()}")
    raise KeyError("Columnas faltantes en DimProducto. No se puede realizar el merge.")

fact_ventas = pd.merge(
    fact_ventas,
    dim_producto[['Producto_ID', 'Nombre_Producto']],
    left_on='Items',  # 'Items' debe estar aquí para que el merge funcione
    right_on='Nombre_Producto',
    how='left'
)

if fact_ventas['Producto_ID'].isnull().any():
    print("¡Advertencia! Algunos ítems en FactVentas no se encontraron en DimProducto (Producto_ID es NaN).")
    fact_ventas['Producto_ID'].fillna(0, inplace=True)

# 'Items' y 'Nombre_Producto' se eliminan *después* de que se han usado en el merge
fact_ventas = fact_ventas.drop(columns=['Items', 'Nombre_Producto'])

print("  'Producto_ID' añadido a FactVentas.")
print(fact_ventas.head())
print("-" * 80)

4. Uniendo con DimProducto para obtener 'Producto_ID'...
¡Advertencia! Algunos ítems en FactVentas no se encontraron en DimProducto (Producto_ID es NaN).
  'Producto_ID' añadido a FactVentas.
   TransactionNo            DateTime  Cantidad  Precio_Unitario  \
0              1 2016-10-30 09:58:11         1            17.77
1              2 2016-10-30 10:05:34         3            11.20
2              2 2016-10-30 10:05:34         4             6.10
3              3 2016-10-30 10:07:57         5             7.84
4              3 2016-10-30 10:07:57         5             1.09

   Total_Producto  Daypart  DayType  Tienda_ID  Fecha_ID  Producto_ID
0           17.77  Morning  Weekend        160  20161030          0.0
1           33.60  Morning  Weekend        153  20161030          0.0
2           24.40  Morning  Weekend        381  20161030          0.0
3           39.20  Morning  Weekend          2  20161030          0.0
4            5.45  Morning  Weekend        536  20161030          0.0
--------------------------------------------------------------------------------

<ipython-input-234-fdac6ef385d8>:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  fact_ventas['Producto_ID'].fillna(0, inplace=True)

In [220]:
print("5. Procesando 'Tienda_ID' en FactVentas...")
# Este es el punto exacto donde la imagen_0e6b4c.png toma su captura.
# La columna 'Tienda_ID' ya está presente en fact_ventas debido al renombramiento en la Parte 2.
print("  'Tienda_ID' ya está presente en FactVentas y ha sido renombrada desde la fuente.")
print(fact_ventas.head()) # Este print genera la salida de la imagen_0e6b4c.png
print("-" * 80)

5. Procesando 'Tienda_ID' en FactVentas...
  'Tienda_ID' ya está presente en FactVentas y ha sido renombrada desde la fuente.
   Id_Venta  Fecha_ID  Producto_ID  Tienda_ID  Cantidad_Vendida  \
0         1  20161030          0.0        160                 1
1         2  20161030          0.0        153                 3
2         2  20161030          0.0        381                 4
3         3  20161030          0.0          2                 5
4         3  20161030          0.0        536                 5

   Precio_Unitario_Venta  Total_Venta  Daypart  DayType
0                  17.77        17.77  Morning  Weekend
1                  11.20        33.60  Morning  Weekend
2                   6.10        24.40  Morning  Weekend
3                   7.84        39.20  Morning  Weekend
4                   1.09         5.45  Morning  Weekend
--------------------------------------------------------------------------------

In [216]:
print("6. Renombrando columnas de medidas y seleccionando columnas finales para FactVentas...")

# Renombrar las columnas de medidas para que sean más descriptivas y estándar para un DW
fact_ventas = fact_ventas.rename(columns={
    'TransactionNo': 'Id_Venta',            # Clave primaria de la tabla de hechos
    'Cantidad': 'Cantidad_Vendida',
    'Precio_Unitario': 'Precio_Unitario_Venta',
    'Total_Producto': 'Total_Venta'
})

# Seleccionar y reordenar las columnas finales para la tabla de hechos.
# Asegúrate de incluir todas las claves foráneas (ID's de dimensiones) y las medidas.
# La columna 'DateTime' puede mantenerse si la necesitas para análisis a nivel de tiempo,
# o eliminarse si solo te interesa 'Fecha_ID'.
fact_ventas = fact_ventas[[
    'Id_Venta',              # Clave primaria/identificador de la venta
    'Fecha_ID',              # Clave foránea a DimFecha
    'Producto_ID',           # Clave foránea a DimProducto
    'Tienda_ID',             # Clave foránea a DimTienda
    'Cantidad_Vendida',      # Medida: Cantidad de artículos vendidos
    'Precio_Unitario_Venta', # Medida: Precio unitario en el momento de la venta
    'Total_Venta',           # Medida: Total de la venta por ítem
    'Daypart',               # Atributo descriptivo (ej. 'Morning', 'Afternoon')
    'DayType'                # Atributo descriptivo (ej. 'Weekday', 'Weekend')
    # Puedes incluir 'DateTime' aquí si quieres mantener el timestamp original:
    # 'DateTime'
]]

6. Renombrando columnas de medidas y seleccionando columnas finales para FactVentas...

In [217]:
print("  FactVentas final después de renombrar y seleccionar columnas:")
print(fact_ventas.head())

  FactVentas final después de renombrar y seleccionar columnas:
   Id_Venta  Fecha_ID  Producto_ID  Tienda_ID  Cantidad_Vendida  \
0         1  20161030          0.0        160                 1
1         2  20161030          0.0        153                 3
2         2  20161030          0.0        381                 4
3         3  20161030          0.0          2                 5
4         3  20161030          0.0        536                 5

   Precio_Unitario_Venta  Total_Venta  Daypart  DayType
0                  17.77        17.77  Morning  Weekend
1                  11.20        33.60  Morning  Weekend
2                   6.10        24.40  Morning  Weekend
3                   7.84        39.20  Morning  Weekend
4                   1.09         5.45  Morning  Weekend

In [218]:
print(f"\nNúmero total de registros en FactVentas: {len(fact_ventas)}")
print(f"Información de FactVentas (dtypes finales):")
print(fact_ventas.info())
print("-" * 80)

Número total de registros en FactVentas: 20507
Información de FactVentas (dtypes finales):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20507 entries, 0 to 20506
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id_Venta               20507 non-null  int64
 1   Fecha_ID               20507 non-null  int64
 2   Producto_ID            20507 non-null  float64
 3   Tienda_ID              20507 non-null  int64
 4   Cantidad_Vendida       20507 non-null  int64
 5   Precio_Unitario_Venta  20507 non-null  float64
 6   Total_Venta            20507 non-null  float64
 7   Daypart                20507 non-null  object
 8   DayType                20507 non-null  object
dtypes: float64(3), int64(4), object(2)
memory usage: 1.4+ MB
None
--------------------------------------------------------------------------------

In [235]:

# Define el nombre de tu archivo Parquet
nombre_archivo4 = 'fact_ventas.parquet'
full_path = os.path.join('/content/plata', nombre_archivo4)
print(full_path)

/content/plata/fact_ventas.parquet

In [237]:
# Guarda el DataFrame en formato Parquet
# index=False es importante para no guardar el índice del DataFrame como una columna
fact_ventas.to_parquet(full_path, index=False)

print(f"\nDataFrame guardado exitosamente en la capa Plata como: {full_path}")
print("Puedes verificarlo en tu Google Drive en esa ruta.")

DataFrame guardado exitosamente en la capa Plata como: /content/plata/fact_ventas.parquet
Puedes verificarlo en tu Google Drive en esa ruta.

In [238]:
df_leido4 = pd.read_parquet('/content/plata/fact_ventas.parquet')

print(f"\nDataFrame leído :")
print(df_leido4.head())

DataFrame leído :
   TransactionNo            DateTime  Cantidad  Precio_Unitario  \
0              1 2016-10-30 09:58:11         1            17.77
1              2 2016-10-30 10:05:34         3            11.20
2              2 2016-10-30 10:05:34         4             6.10
3              3 2016-10-30 10:07:57         5             7.84
4              3 2016-10-30 10:07:57         5             1.09

   Total_Producto  Daypart  DayType  Tienda_ID  Fecha_ID  Producto_ID
0           17.77  Morning  Weekend        160  20161030          0.0
1           33.60  Morning  Weekend        153  20161030          0.0
2           24.40  Morning  Weekend        381  20161030          0.0
3           39.20  Morning  Weekend          2  20161030          0.0
4            5.45  Morning  Weekend        536  20161030          0.0


##CAPA ORO

In [24]:
os.makedirs('oro', exist_ok=True)
fake = Faker()

In [241]:
print(f"Ruta de la capa Plata: {'/content/plata'}")

Ruta de la capa Plata: /content/plata

In [242]:
print(f"Ruta de la capa Plata: {'/content/plata'}")

Ruta de la capa Plata: /content/plata

In [1]:
import pandas as pd
import numpy as np # Asegúrate de que esto esté si usas numpy
import os
try:
    # Esta ruta '/content/plata' parece ser una ruta temporal local en Colab,
    # no tu capa Silver en Google Drive. Asegúrate de que el archivo
    # 'fact_ventas.parquet' realmente se haya guardado en '/content/plata'
    # en un paso anterior.
    fact_ventas_path = os.path.join('/content/plata', 'fact_ventas.parquet')
    fact_ventas = pd.read_parquet(fact_ventas_path)
    print(f"FactVentas cargada. Filas: {len(fact_ventas)}. Columnas: {fact_ventas.columns.tolist()}")
    # Convertir 'Producto_ID' a int si se había rellenado con 0.0 (float)
    if 'Producto_ID' in fact_ventas.columns and fact_ventas['Producto_ID'].dtype == 'float64':
        fact_ventas['Producto_ID'] = fact_ventas['Producto_ID'].astype(int)
    print(fact_ventas.head())
except FileNotFoundError:
    print(f"ERROR: No se encontró 'fact_ventas.parquet' en {fact_ventas_path}. No se pueden generar reportes.")
    exit() # Salir si la tabla de hechos principal no está disponible
except Exception as e:
    print(f"ERROR al cargar fact_ventas: {e}")
    exit()

FactVentas cargada. Filas: 20507. Columnas: ['TransactionNo', 'DateTime', 'Cantidad', 'Precio_Unitario', 'Total_Producto', 'Daypart', 'DayType', 'Tienda_ID', 'Fecha_ID', 'Producto_ID']
   TransactionNo            DateTime  Cantidad  Precio_Unitario  \
0              1 2016-10-30 09:58:11         1            17.77
1              2 2016-10-30 10:05:34         3            11.20
2              2 2016-10-30 10:05:34         4             6.10
3              3 2016-10-30 10:07:57         5             7.84
4              3 2016-10-30 10:07:57         5             1.09

   Total_Producto  Daypart  DayType  Tienda_ID  Fecha_ID  Producto_ID
0           17.77  Morning  Weekend        160  20161030            0
1           33.60  Morning  Weekend        153  20161030            0
2           24.40  Morning  Weekend        381  20161030            0
3           39.20  Morning  Weekend          2  20161030            0
4            5.45  Morning  Weekend        536  20161030            0

In [3]:
# Cargar las tablas de dimensión necesarias
try:
    dim_fecha_path = os.path.join('/content/plata', 'dimension_fecha_plata.parquet')
    dim_fecha = pd.read_parquet(dim_fecha_path)
    dim_fecha['Fecha_Completa'] = pd.to_datetime(dim_fecha['Fecha_Completa'])
    # Asegúrate de tener las columnas 'Año' y 'Mes_Nombre' para el reporte mensual
    if 'Mes_Nombre' not in dim_fecha.columns:
        dim_fecha['Mes_Nombre'] = dim_fecha['Fecha_Completa'].dt.strftime('%B')
    if 'Año' not in dim_fecha.columns:
        dim_fecha['Año'] = dim_fecha['Fecha_Completa'].dt.year
    print(f"DimFecha cargada. Filas: {len(dim_fecha)}. Columnas: {dim_fecha.columns.tolist()}")
except Exception as e:
    print(f"ADVERTENCIA: No se pudo cargar DimFecha ({e}). Algunos reportes pueden verse afectados.")
    dim_fecha = pd.DataFrame({'Fecha_ID': [], 'Fecha_Completa': [], 'Mes_Nombre': [], 'Año': []}) # DataFrame vacío

DimFecha cargada. Filas: 694. Columnas: ['Fecha_ID', 'Fecha_Completa', 'Anio', 'Mes', 'Nombre_Mes', 'Dia', 'Dia_de_la_Semana', 'Nombre_Dia_Semana', 'Semana_del_Anio', 'Trimestre', 'Nombre_Trimestre', 'Es_Fin_De_Semana', 'Es_Dia_Laboral', 'Mes_Nombre', 'Año']

In [2]:

try:
    # La ruta real de tu archivo de dimensión producto (confirmada previamente como '/content/plata/dimension_producto_plata.parquet')
    # O si la guardaste en tu silver_layer_path
    dim_producto_path = os.path.join( '/content/plata'  , 'dimension_producto_plata.parquet')
    # dim_producto_path = '/content/plata/dimension_producto_plata.parquet' # Usa esta si tu archivo está localmente en /content/plata/
    df_temp_producto = pd.read_parquet(dim_producto_path)
    # Renombrar columnas si es necesario al cargar
    if 'product_id' in df_temp_producto.columns and 'product_name' in df_temp_producto.columns:
        dim_producto = df_temp_producto.rename(columns={
            'product_id': 'Producto_ID', 'product_name': 'Nombre_Producto',
            'category': 'Clasificacion_Producto', 'price': 'Precio_Base'
        })
    elif 'Producto_ID' in df_temp_producto.columns and 'Nombre_Producto' in df_temp_producto.columns: # Caso esperado
        dim_producto = df_temp_producto
    else:
        print("ADVERTENCIA: Columnas esperadas de DimProducto no encontradas en el archivo cargado. Usando un DataFrame vacío.")
        dim_producto = pd.DataFrame({'Producto_ID': [], 'Nombre_Producto': [], 'Clasificacion_Producto': [], 'Precio_Base': []})
    print(f"DimProducto cargada. Filas: {len(dim_producto)}. Columnas: {dim_producto.columns.tolist()}")
except Exception as e:
    print(f"ADVERTENCIA: No se pudo cargar DimProducto ({e}). Algunos reportes pueden verse afectados.")
    dim_producto = pd.DataFrame({'Producto_ID': [], 'Nombre_Producto': [], 'Clasificacion_Producto': [], 'Precio_Base': []}) # DataFrame vacío

ADVERTENCIA: No se pudo cargar DimProducto (name 'os' is not defined). Algunos reportes pueden verse afectados.

NameError: name 'pd' is not defined

In [4]:
try:
    dim_tienda_path = os.path.join(silver_layer_path, 'dim_tienda.parquet')
    dim_tienda = pd.read_parquet(dim_tienda_path)
    print(f"DimTienda cargada. Filas: {len(dim_tienda)}. Columnas: {dim_tienda.columns.tolist()}")
except Exception as e:
    print(f"ADVERTENCIA: No se pudo cargar DimTienda ({e}). Algunos reportes pueden verse afectados.")
    dim_tienda = pd.DataFrame({'Tienda_ID': [], 'Nombre_Tienda': [], 'city': []}) # DataFrame vacío, incluir 'city'
print("-" * 80)

ADVERTENCIA: No se pudo cargar DimTienda (name 'os' is not defined). Algunos reportes pueden verse afectados.

NameError: name 'pd' is not defined

In [ ]:
# --- 1. Reporte: Total de ventas por mes ---
print("1. Generando reporte 'Total de ventas por mes'...")
reporte_ventas_mes = fact_ventas.merge(
    dim_fecha[['Fecha_ID', 'Año', 'Mes_Nombre']], # Usamos 'Año' y 'Mes_Nombre' de dim_fecha
    on='Fecha_ID',
    how='left'
)
reporte_ventas_mes_agg = reporte_ventas_mes.groupby(['Año', 'Mes_Nombre'])['Total_Venta'].sum().reset_index()

In [ ]:
# Opcional: Ordenar por año y un mes numérico si existe en dim_fecha
reporte_ventas_mes_agg = reporte_ventas_mes_agg.sort_values(by=['Año', 'Mes_Nombre']) # Puede requerir un mapeo de Mes_Nombre a numérico para ordenar correctamente
print("Reporte 'Total de ventas por mes':")
print(reporte_ventas_mes_agg.head())
reporte_ventas_mes_agg.to_parquet(os.path.join(gold_layer_path, 'reporte_ventas_por_mes.parquet'), index=False)
print(f"Reporte guardado en: {os.path.join(gold_layer_path, 'reporte_ventas_por_mes.parquet')}")
print("-" * 80)

In [ ]:
# --- 2. Reporte: Ventas por ciudad ---
print("2. Generando reporte 'Ventas por ciudad'...")
# Necesitamos la columna 'city' de dim_tienda.
# df_final_bronze tenía 'city', así que asumo que dim_tienda también la tiene.
if 'city' not in dim_tienda.columns:
    print("ADVERTENCIA: La columna 'city' no se encontró en DimTienda. Generando datos de ciudad de ejemplo.")
    # Si 'city' no está en dim_tienda, la simulamos aquí
    # Esto es una suposición para evitar que el código falle, pero lo ideal es que 'city' esté en tu dim_tienda
    dim_tienda_temp = dim_tienda.copy()
    num_unique_cities = 5
    fake = Faker('es_ES')
    cities = [fake.city() for _ in range(num_unique_cities)]
    dim_tienda_temp['city'] = np.random.choice(cities, size=len(dim_tienda_temp))
else:
    dim_tienda_temp = dim_tienda.copy() # Usar la dim_tienda real si 'city' existe

reporte_ventas_ciudad = fact_ventas.merge(
    dim_tienda_temp[['Tienda_ID', 'city']],
    on='Tienda_ID',
    how='left'
)
reporte_ventas_ciudad_agg = reporte_ventas_ciudad.groupby('city')['Total_Venta'].sum().reset_index()
reporte_ventas_ciudad_agg = reporte_ventas_ciudad_agg.sort_values(by='Total_Venta', ascending=False)

In [ ]:
print("Reporte 'Ventas por ciudad':")
print(reporte_ventas_ciudad_agg.head())
reporte_ventas_ciudad_agg.to_parquet(os.path.join(gold_layer_path, 'reporte_ventas_por_ciudad.parquet'), index=False)
print(f"Reporte guardado en: {os.path.join(gold_layer_path, 'reporte_ventas_por_ciudad.parquet')}")
print("-" * 80)

In [ ]:
# --- 3. Reporte: Productos más vendidos (Top 10) ---
print("3. Generando reporte 'Productos más vendidos (Top 10)'...")
reporte_productos_mas_vendidos = fact_ventas.merge(
    dim_producto[['Producto_ID', 'Nombre_Producto']],
    on='Producto_ID',
    how='left'
)
reporte_productos_mas_vendidos_agg = reporte_productos_mas_vendidos.groupby('Nombre_Producto')['Cantidad_Vendida'].sum().reset_index()
reporte_productos_mas_vendidos_agg = reporte_productos_mas_vendidos_agg.sort_values(by='Cantidad_Vendida', ascending=False).head(10)

In [ ]:
print("Reporte 'Productos más vendidos (Top 10)':")
print(reporte_productos_mas_vendidos_agg)
reporte_productos_mas_vendidos_agg.to_parquet(os.path.join(gold_layer_path, 'reporte_top_10_productos.parquet'), index=False)
print(f"Reporte guardado en: {os.path.join(gold_layer_path, 'reporte_top_10_productos.parquet')}")
print("-" * 80)

In [ ]:
# --- 4. Reporte: Tiendas que más venden (Top 10) ---
print("4. Generando reporte 'Tiendas que más venden (Top 10)'...")
reporte_tiendas_mas_vendedoras = fact_ventas.merge(
    dim_tienda[['Tienda_ID', 'Nombre_Tienda']],
    on='Tienda_ID',
    how='left'
)
reporte_tiendas_mas_vendedoras_agg = reporte_tiendas_mas_vendedoras.groupby('Nombre_Tienda')['Total_Venta'].sum().reset_index()
reporte_tiendas_mas_vendedoras_agg = reporte_tiendas_mas_vendedoras_agg.sort_values(by='Total_Venta', ascending=False).head(10)

In [5]:
print("Reporte 'Tiendas que más venden (Top 10)':")
print(reporte_tiendas_mas_vendedoras_agg)
reporte_tiendas_mas_vendedoras_agg.to_parquet(os.path.join(gold_layer_path, 'reporte_top_10_tiendas.parquet'), index=False)
print(f"Reporte guardado en: {os.path.join(gold_layer_path, 'reporte_top_10_tiendas.parquet')}")
print("-" * 80)

Reporte 'Tiendas que más venden (Top 10)':

NameError: name 'reporte_tiendas_mas_vendedoras_agg' is not defined